.mainContainer {
    height: 100vh;
}

.boardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.boardRow {
    display: flex;
}

.boxContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    position: relative;
    width: 90px;

}

.eatMoveBox {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: transparent;
    border: 10px solid rgba(0, 0, 0, 0.3);
}

.possibleMoveBox {
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);

}

.boxColorOne {
    background-color: #D1B486;
}

.boxColorTwo {
    background-color: #7F5531;
}

.pieceImg {
    height: 80px;
    width: 80px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}