.mainContainer {
    height: 100vh;
    background-color: rgb(50, 50, 50);
}

.mainBoardContainer {
    transform: rotate(180deg);
}

.boardRow {
    display: flex;
}

.boxContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    transform: rotate(180deg);

    position: relative;
    width: 80px;

}

.eatMoveBox {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: transparent;
    border: 10px solid rgba(0, 0, 0, 0.3);
}

.possibleMoveBox {
    position: absolute;
    top: calc(50% - 7.5px);
    left: calc(50% - 7.5px);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);

}

.boxColorOne {
    background-color: #D1B486;
}

.boxColorTwo {
    background-color: #7F5531;
}

.pieceImgEated {
    height: 20px;
    width: 20px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.pieceImg {
    height: 70px;
    width: 70px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.userImage {
    height: 40px;
    width: 40px;
}

.imageContainer {

    margin-right: 10px;
}

.userInfoContainer {}

.userNameText {
    font-size: 14px;
    color: white;
    margin: 0;
    font-weight: 500;

}

.timerContainer {
    background-color: rgb(100, 100, 100);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100px;

}

.timerText {
    margin: 0;
    font-size: 25px;
    color: black;
    font-weight: 600;
}

.mainUserInfoContainer {
    margin-bottom: 10px;
    margin-top: 10px !important;
}