.mainContainer {
    height: 100vh;
    background-color: rgb(50, 50, 50);
}

.userImage {
    height: 40px;
    width: 40px;
}

.imageContainer {

    margin-right: 10px;
}

.userInfoContainer {}

.userNameText {
    font-size: 14px;
    color: white;
    margin: 0;
    font-weight: 500;

}

.timerContainer {
    background-color: rgb(100, 100, 100);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100px;

}

.timerText {
    margin: 0;
    font-size: 25px;
    color: black;
    font-weight: 600;
}

.mainUserInfoContainer {
    margin-bottom: 10px;
    margin-top: 10px !important;
}